<!-- Main modal -->

<div class="relative p-4 w-full h-full md:h-auto">
    <!-- Modal content -->
    <div class="relative p-4 bg-gray-200 rounded-lg shadow dark:bg-gray-800 sm:p-5">
        <!-- Modal body -->
        <form (ngSubmit)="onUpdate()">
            <div class="grid gap-4 mb-4 sm:grid-cols-2">                
                <div class="sm:col-span-2 flex justify-left items-center">
                    <label for="image-upload">
                        <div class=" rounded-full overflow-hidden cursor-pointer">
                            <img [src]="previewImageUrl ? previewImageUrl : (user.imageUrl ? 'http://localhost:3000' + user.imageUrl : 'https://via.placeholder.com/150')" alt="User Image" class="object-contain w-24 h-24">
                        </div>
                    </label>
                    <input type="file" id="image-upload" class="hidden" (change)="onImageSelected($event)">
                </div>
                <div>
                    <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
                    <input type="text" name="name" id="name" [(ngModel)]="user.userName"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                        placeholder="{{ user.userName}}">
                </div>
                <div>
                    <label for="email"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                    <input type="email" name="email" id="email" [(ngModel)]="user.email"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                        placeholder="{{ user.email}}">
                </div>
                <div>
                    <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Update
                        Password</label>
                    <input type="password" name="password" id="updatePassword" [(ngModel)]="password" autocomplete="on"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                        placeholder="Enter password">
                </div>
                <div>
                    <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirm
                        Password</label>
                    <input type="password" name="password" id="confirmPassword" [(ngModel)]="confirmPassword" autocomplete="on"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                        placeholder="Enter password">
                </div>
                <div class="sm:col-span-2">
                    <label for="bio" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">User
                        Bio</label>
                    <textarea id="bio" type="bio" name="bio" rows="5" [(ngModel)]="user.bio"
                        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                        placeholder="Write a bio..."></textarea>
                </div>
            </div>
            <div class="flex items-center space-x-4">
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Update Details
                </button>
            </div>
        </form>
    </div>
</div>