<!-- Video Call Button -->

<button type="button" (click)="startVideoCall()" 
    class="inline-flex justify-center p-2 text-gray-500 rounded-lg cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path fill="currentColor"
            d="M6.455 19L2 22.5V4a1 1 0 0 1 1-1h18a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H6.455ZM14 10.25V8H7v6h7v-2.25L17 14V8l-3 2.25Z" />
    </svg>
</button>

<app-modal [showModal]="showVideoChat" title="Video" (closeModal)="showVideoChat = false">
    <button type="button" (click)="endVideoCall()">
        End Call
    </button>
    
    <!-- Video elements to display local and remote streams -->
    <video #localVideo [srcObject]="myStream" autoplay></video>
    <div id="remoteVideos"></div>
</app-modal>