<div class="min-h-screen overflow-y-hidden">
  <!-- Header Section -->
  <div class="bg-gray-800 text-white px-5 py-5 flex justify-between items-center border-b-2">
    <!-- Welcome Message and User Info -->
    <div class="font-semibold text-2xl">My Chat App</div>
    <div class="w-1/2">
    </div>

    <button id="dropdownInformationButton" data-dropdown-toggle="dropdownInformation" type="button" (click)="showMenu = !showMenu">
      <img [src]="'http://localhost:3000' + currentUser.imageUrl" alt="User Image" class="object-contain w-16 h-16 rounded-full mr-2 p-1 bg-blue-600 hover:bg-blue-700 focus:ring-blue-800">
    </button>
    <div id="dropdownInformation" [ngClass]="{'hidden': !showMenu}"
      class="z-10 hidden divide-y rounded-lg shadow w-44 bg-gray-700 divide-gray-600">
      <div class="px-4 py-3 text-sm text-white">
        <p class="text-md">{{ currentUser.userName }}</p>
        <p class="text-sm italic">{{ currentUser.email}}</p>
      </div>
      <ul class="py-2 text-sm text-gray-200" aria-labelledby="dropdownInformationButton">
        <li>
          <button (click)="showUserManagementModal = true" class="text-left w-full block px-4 py-2 hover:bg-gray-600 hover:text-white">
            User Details
            </button>
        </li>
        <li>
          <button *ngIf="currentUser.isSuper" (click)="showManageUsersModal = true"
            class="text-left w-full block px-4 py-2 hover:bg-gray-600 hover:text-white">Manage Users</button>
        </li>
        <li>
          <button *ngIf="currentUser.isSuper" (click)="showAddUserModal = true"
            class="text-left w-full block px-4 py-2 hover:bg-gray-600 hover:text-white">Add User</button>
        </li>
        <li>
          <button *ngIf="authenticationService.isLoggedIn" (click)="logout()"
            class="text-left w-full block px-4 py-2 text-sm hover:bg-gray-600 text-gray-200 hover:text-white">Logout</button>
        </li>
      </ul>
    </div>
  </div>

  <!-- Main Content Section -->
  <div class="flex flex-row justify-between flex-1 h-screen overflow-y-hidden">
    <!-- Groups and Channels -->
    <div class="bg-gray-900 text-white flex flex-col w-2/5 border-r-2 overflow-y-auto">
      <!-- Groups Component-->
      <app-group (channelSelected)="onChannelSelected($event)"></app-group>
    </div>

    <!-- Chat Section -->
    <div class="bg-gray-900 text-white w-full px-5">
      <ng-container *ngIf="currentChannelId; else noChannelSelected">
        <app-chat [currentChannelId]="currentChannelId"></app-chat>
      </ng-container>

      <ng-template #noChannelSelected>
        <div class="flex flex-col mt-5">
          <div class="flex justify-end mb-4">
            <div class="mr-2 py-3 px-4 bg-blue-400 rounded-bl-3xl rounded-tl-3xl rounded-tr-xl text-white">
              Please select a channel to start chatting.
            </div>
          </div>
        </div>
      </ng-template>
    </div>

    <!-- Group/Channel Description -->
    <div class="bg-gray-900 text-white w-2/5 border-l-2 px-5">
      <div class="flex flex-col">
        <div class="font-semibold text-xl py-4">MEAN Stack Group</div>
        <img src="https://source.unsplash.com/L2cxSuKWbpo/600x600" class="object-cover rounded-xl h-64" alt="" />
        <div class="font-semibold py-4">Created 02 Oct 2023</div>
        <div class="font-light">
          Keep Working! Keep Learning! Keep Growing! Keep Sharing! Keep Building!
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal #userModal [showModal]="showUserManagementModal" title="User Details" (closeModal)="showUserManagementModal = false">
  <app-user-details [modal]="userModal"></app-user-details>
</app-modal>
<app-modal [showModal]="showAddUserModal" title="Add New User" (closeModal)="showAddUserModal = false">
  <app-register (userRegistered)="showAddUserModal = false"></app-register>
</app-modal>
<!-- Manage Users Modal -->
<app-modal [showModal]="showManageUsersModal" title="Manage Users" (closeModal)="showManageUsersModal = false">
  <app-user-management></app-user-management>
</app-modal>