<div class="h-screen flex flex-col">
  <!-- Header Section -->
  <div class="bg-gray-800 text-white p-4 flex justify-between items-center">
    <!-- Welcome Message and User Info -->
    <div class="flex items-center mt-4">
      <div class="w-12 h-12 rounded-full bg-gray-300 mr-4"></div>
      <div>
        <p class="text-md">{{ currentUser.username }}</p>
        <p class="text-sm italic">Role: coming soon</p>
      </div>
    </div>
    <div class="flex items-center justify-center">
      <h1 class="text-2xl text-center">My Chat App</h1>
    </div>

    <!-- Management and Logout -->
    <div class="flex items-center">
      <button *ngIf="currentUser.isSuper" (click)="showAddUserForm()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-4">
        Add User
      </button>
      <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
        <a href="#" *ngIf="authenticationService.isLoggedIn" (click)="logout()">Logout</a>
        </button>
    </div>
  </div>

  <!-- Main Content Section -->
  <div class="flex flex-1">
    <!-- Groups and Channels (1/3) -->
    <div class="bg-gray-900 text-white w-1/3 p-4 overflow-y-auto">
      <!-- Groups and Channels Component here -->
      <app-group></app-group>
    </div>

    <!-- Chat Section (2/3) -->
    <div class="bg-gray-700 text-white w-2/3 p-4">
      <!-- Chat Component will go here -->
    </div>
  </div>
</div>
<!-- Add User Modal -->
<div *ngIf="showAddUserModal" class="fixed inset-0 flex items-center justify-center z-50">
  <div class="bg-white p-8 rounded-lg w-1/3">
    <h2 class="text-2xl mb-4">Add New User</h2>
    <button (click)="showAddUserModal = false" class="text-red-500 mb-4">Close</button>
    <app-register (userRegistered)="showAddUserModal = false"></app-register> <!-- Embed the registration component -->
  </div>
</div>
