<div *ngIf="groups.length > 0; else noGroups" class="flex flex-col items-start mt-5">
  <div class="border-b-2 w-full mb-10 flex items-center justify-between">
    <h1 class="text-xl text-start font-bold mb-4">Your Groups</h1>
    
    <button *ngIf="user.isSuper" (click)="showModal()" class="pr-4">
      <i class="fas fa-plus text-green-500 hover:text-green-700 ml-4"></i>
    </button>
  </div>
  <!-- Groups -->
  <div class="w-full">
    <div *ngFor="let group of groups">
      <!-- Group Image & Name -->
      <div class="flex items-center w-full mb-4 justify-between">
        <div class="flex items-center" (click)="showChannels(group)">
          <!-- Placeholder for group image -->
          <div class="bg-gray-300 h-10 w-10 rounded-full"></div>
          <!-- Group name -->
          <div *ngIf="editingGroupId !== group._id"
            class="ml-4 font-bold hover:text-blue-800 hover:bg-blue-200 rounded-lg px-2">
            {{ group.groupName }}
          </div>
          <div *ngIf="editingGroupId === group._id" class="ml-4">
            <input type="text" [(ngModel)]="group.groupName"
              class="border rounded px-2 py-1 w-36 focus:outline-none focus:border-blue-500 bg-white text-black" />
          </div>
        </div>
  
        <!-- Edit and Delete buttons -->
        <div *ngIf="canEdit(group)" class="flex items-center ml-4 pr-4">
          <button (click)="loadGroupUsers(group._id)">
            <i class="fa-solid fa-people-group text-purple-500 hover:text-purple-700"></i>
          </button>
          <button *ngIf="editingGroupId !== group._id" (click)="editingGroup(group._id)">
            <i class="fas fa-edit text-blue-500 hover:text-blue-700 ml-4"></i>
          </button>
          <button *ngIf="editingGroupId === group._id" (click)="saveGroup(group)">
            <i class="fas fa-save text-green-500 hover:text-green-700 ml-4"></i>
          </button>
          <button *ngIf="editingGroupId === group._id" (click)="editingGroupId = null">
            <i class="fas fa-times text-red-500 hover:text-red-700 ml-4"></i>
          </button>
          <button *ngIf="editingGroupId !== group._id" (click)="deleteGroup(group._id!)">
            <i class="fas fa-trash text-red-500 hover:text-red-700 ml-4"></i>
          </button>
        </div>
      </div>
      <!-- Channels for the selected group -->
      <div *ngIf="group.showChannels" class="pl-8 w-full">
        <app-channel [groupId]="group._id"></app-channel>
      </div>
    </div>
  </div>
</div>
<!-- Modal for adding a new group -->
<div *ngIf="showAddGroupModal" class="fixed inset-0 flex items-center justify-center z-50">
  <div class="bg-white p-8 rounded-lg w-1/3">
    <h2 class="text-2xl mb-4">Add New Group</h2>
    <form (ngSubmit)="addNewGroup()">
      <div class="mb-4">
        <label for="groupName" class="block text-sm font-medium text-gray-600">Group Name</label>
        <input type="text" id="groupName" [(ngModel)]="newGroupName" name="newGroupName"
          class="mt-1 p-2 w-full border rounded-md text-gray-900">
      </div>
      <div class="text-right">
        <button type="button" (click)="showAddGroupModal = false" class="text-red-500 mr-4">Cancel</button>
        <button type="submit" class="bg-blue-500 text-white p-2 rounded">Add Group</button>
      </div>
    </form>
  </div>
</div>
<!-- Modal to show users of a group -->
<div *ngIf="showGroupUsersModal" class="fixed inset-0 flex items-center justify-center z-50">
  <div class="bg-gray-500 p-8 rounded-lg w-2/3">
    <h2 class="text-2xl mb-4 text-center">Users of Group</h2>
    <ul>
      <li *ngFor="let user of groupUsers">
        {{ user.userName }} - {{ user.email }}
      </li>
    </ul>
    <div class="text-right mt-4">
      <button (click)="closeGroupUsersModal()" class="bg-red-500 text-white p-2 rounded">Close</button>
    </div>
  </div>
</div>

<ng-template #noGroups>
  <p>No groups available.</p>
</ng-template>